<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    id="cordova-plugin-adgap"
    version="1.1.8">

    <name>Adgap</name>
    <description>Adgap plugin</description>
    <license>MIT</license>
    <keywords>cordova,adgap,ads,ad</keywords>
    <repo>https://github.com/txchen/adgap</repo>
    <issue>https://github.com/txchen/adgap/issues</issue>

    <js-module src="www/adgap.js" name="adgap">
        <clobbers target="adgap" />
    </js-module>

    <js-module src="www/intenthelper.js" name="intenthelper">
        <clobbers target="intenthelper" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Adgap">
                <param name="android-package" value="com.adgap.Adgap"/>
            </feature>
            <feature name="Intenthelper">
                <param name="android-package" value="com.adgap.Intenthelper"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <!-- mopub -->
          <activity android:name="com.mopub.mobileads.MoPubActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"/>
          <activity android:name="com.mopub.mobileads.MraidActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"/>
          <activity android:name="com.mopub.common.MoPubBrowser"
              android:configChanges="keyboardHidden|orientation|screenSize"/>
          <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
              android:configChanges="keyboardHidden|orientation|screenSize"/>

          <!--Inmobi - Required Activity for rendering ads in the embedded browser-->
          <activity android:name="com.inmobi.rendering.InMobiAdActivity"
              android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
              android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:hardwareAccelerated="true" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
        </config-file>

        <source-file src="src/android/Adgap.java" target-dir="src/com/adgap/"/>
        <source-file src="src/android/Intenthelper.java" target-dir="src/com/adgap/"/>
        <source-file src="src/android/AudienceNetwork.aar" target-dir="libs" framework="true" />
        <source-file src="src/android/mm-ad-sdk.aar" target-dir="libs" framework="true" />
        <source-file src="src/android/InMobi-5.3.1.jar" target-dir="libs" framework="true" />
        <source-file src="build-extras.gradle" target-dir="."/>
    </platform>

</plugin>
